<div class="homeContainer">
    <div class="homeDesc">
        <h1>BookWorld</h1>
        <p>A place where every book is a new adventure waiting to be discovered, <br>
            Immerse yourself in stories that inspire, entertain, 
            and enlighten — your next great read is just a click away.
        </p>
    </div>
    <div class="borderDiv">
        <a [routerLink]="['/Books', randomBook?._id ]">
            <div class="imageDiv">
                <img class="homeImg" src={{randomBook?.picture}} alt="">
                <div class="overlayDiv">
                    <p class="check">Check our books</p>
                    <div class="bottomBorder"></div>
                </div>
            </div>
        </a>
    </div>
</div>