@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.homeContainer {
    display: flex;
    justify-content: center;
    padding: 30px;
    gap: 30px;
}

.homeImg {
    width: 350px;
    height: 480px;
    object-fit: cover;
}

.homeDesc {
    color: #ECEFF1; 
    max-width: 550px;
}

.homeDesc p {
    font-size: 35px;
    font-family: 'Lora', serif;
    font-style: italic;
    color: #ECEFF1; 
}

.homeDesc h1 {
    margin-top: 10px;
    font-size: 50px;
    font-family: "Lora", serif; 
    text-shadow: 2px 1px 2px #455A64; 
    border-bottom: 3px solid #BCAAA4; 
}

.imageDiv {
    position: relative;
    cursor: pointer;
    width: 350px;
    height: 480px;
}

.imageDiv:hover .overlayDiv {
    opacity: 1;
}

.imageDiv:hover .bottomBorder {
    width: 200px;
    transition: 0.8s;
}

.overlayDiv {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 480px;
    background-color: rgba(33, 33, 33, 0.5); 
    top: 0px;
    opacity: 0;
    transition: 0.5s;
    font-size: 30px;
    font-family: 'Lora', serif; 
    color: #ECEFF1; 
}

.borderDiv {
    padding: 5px;
    background: linear-gradient(238deg, #6A4F4B, #D7CCC8);
    background-size: 400% 400%;

    -webkit-animation: BorderColor 3s ease infinite;
    -moz-animation: BorderColor 3s ease infinite;
    animation: BorderColor 3s ease infinite;
}

@-webkit-keyframes BorderColor {
    0% {background-position: 0% 96%}
    50% {background-position: 100% 5%}
    100% {background-position: 0% 96%}
}
@-moz-keyframes BorderColor {
    0% {background-position: 0% 96%}
    50% {background-position: 100% 5%}
    100% {background-position: 0% 96%}
}
@keyframes BorderColor {
    0% {background-position: 0% 96%}
    50% {background-position: 100% 5%}
    100% {background-position: 0% 96%}
}

.bottomBorder {
    position: absolute;
    bottom: 220px;
    border-bottom: 4px solid #8D6E63; 
    width: 30px;
    transition: 0.4s;
    border-radius: 5px;
}
