@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Lora', serif;
    font-size: 45px;
    margin-bottom: 5px;
    margin-top: 5px;
    color: #3E2723; 
}

.titleDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
}

.bottomBorder {
    position: relative;
    bottom: 8px;
    border-bottom: 8px solid #8D6E63;
    height: 1px;
    width: 50%;
    border-radius: 10px;
    margin-bottom: 20px;
}

.informationContainer {
    display: flex;
    padding: 20px;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 5px;
    min-width: 620px;
    gap: 20px;
    background-color: #FBF0E4;
    border: 5px solid #BCAAA4; 
}

.bookImage {
    object-fit: cover;
    width: 300px;
    height: 400px;
}

.ImageDiv p {
    font-size: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #3E2723;
    font-family: 'Lora', serif;
}

.yearAndIconDiv, .genres, .details, .staff, .summarySection, .seeMore, .editDeleteButtons, .buttons, .noMatchContainer, .noMatch,  .bookImageDiv, .WatchButtonsDiv, .WatchButton, .Remove, .faEye {
    font-family: 'Lora', serif; 
}


.genres {
    font-size: 22px;
    text-align: center;
    font-weight: bold;
    color: #5D4037; 
}

@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.buttons, .WatchButton {
    cursor: pointer;
    width: 120px; 
    height: 35px;
    background-color: #8D6E63; 
    color: white;
    font-size: 20px; 
    font-family: 'Lora', serif; 
    border-radius: 10px; 
    margin: 5px; 
    padding: 5px; 
    transition: 0.3s; 
    display: inline-flex; 
    justify-content: center; 
    align-items: center; 
}

.buttons:hover, .WatchButton:hover, .Remove:hover {
    background-color: #A1887F; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
}

.WatchButton{
    width:220px;
}

.editDeleteButtons {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    gap: 10px; 
}

h1, .ImageDiv p, .genres, .notExistPar {
    font-size: 22px;
}

.summarySection p, .yearAndIconDiv, .details, .staff {
    font-size: 18px; 
}



.buttons:hover, .WatchButton:hover, .Remove:hover {
    background-color: #A1887F; 
}

.noMatch {
    background-image: url(./aa3c8f4e-2945-43a2-a619-f097e417cf23.webp); 
    border: 5px solid #BCAAA4; 
    color: white;
    text-align: center;
}

