@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.NavBar {
    font-size: 20px;
    color: #ECEFF1; 
    background-color: rgba(33, 33, 33, 0.85); 
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 90px;
    margin-bottom: 10px;
}

.Open a, .Protected a {
    text-decoration: none;
    color: #ECEFF1; 
}

a {
    position: relative;
    font-family: 'Lora', serif; 
}

a > div {
    display: flex;
    justify-content: center;
    height: 30px;
}

a:hover .bottomBorder {
    width: 80%;
    transition: 0.3s;
    border-bottom: 3px solid #BCAAA4; 
}

.bottomBorder, .bottomBorderLogout {
    position: absolute;
    bottom: -3px;
    width: 30%;
    border-bottom: 3px solid #BCAAA4;
    transition: 0.3s;
    border-radius: 5px;
}

.Open, .Protected {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-left: 5%;
    margin-right: 5%;
}

.LogoutButton {
    display: flex;
    justify-content: center;
    position: relative;
    cursor: pointer;
    border: none;
    background-color: rgba(255, 255, 255, 0);
    font-size: 20px;
    color: #ECEFF1; 
    font-family: 'Lora', serif; 
}

.LogoutButton:hover .bottomBorderLogout {
    width: 70%;
    transition: 0.3s;
    border-bottom: 3px solid #BCAAA4; 
}
