@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.formDiv {
    display: flex;
    justify-content: center;
}

.formClass {
    z-index: 0;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    background-color: #FBF0E4; 
    padding: 20px;
    width: 750px;
    gap: 15px;
    border-radius: 10px;
    font-family: 'Lora', serif;
}

.border {
    position: relative;
    margin-top: 10px;
    padding: 8px;
    border-radius: 15px;
    background: linear-gradient(43deg, #6A4F4B 0%, #D7CCC8 46%, #8D6E63 100%); 
}

.containerNoButton {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.firstRow, .secondRow {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.firstRow div, .secondRow div {
    display: flex;
    flex-direction: column;
}

.firstRow input, .secondRow input {
    width: 250px;
    height: 30px;
    border-radius: 5px;
    border: 2px solid #A1887F; 
    transition: 0.3s;
    font-size: 16px;
    font-family: 'Lora', serif;
}

.firstRow input:focus, .secondRow input:focus {
    width: 255px;
    background-color: #eaedff; 
    transition: 0.3s;
}

#summary {
    height: 100%;
    width: 300px;
}

.errorArea {
    border: 2px solid #D32F2F !important; 
}

.errorMessage {
    margin-top: 2px;
    margin-bottom: 5px;
    color: #D32F2F; 
    font-family: 'Lora', serif;
}

.buttonDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.button {
    cursor: pointer;
    margin-top: 10px;
    font-size: 18px;
    width: 200px;
    height: 40px;
    color: white;
    background-color: #BCAAA4;
    border: 3px solid rgba(255, 255, 255, 0);
    border-radius: 10px;
    transition: 0.5s;
    font-family: 'Lora', serif;
}

.button:hover {
    border: 3px solid #A1887F; 
    background-color: #A1887F; 
    transition: 0.5s;
}
