<div class="profileContainer">
    <div class="titleDiv">
        <h1>{{username}}'s Profile</h1>
        <div class="bottomBorder"></div>
    </div>
    <div class="imageRoutesContainer">
        <a routerLink='MyBooks'>
            <div class="myBookDiv">
                <img class="image" src="../../../assets/fb903e6d-c7df-452c-9600-920b529fb950.webp" alt="">
                <div class="OverlayDiv">
                    <p>Your books</p>
                    <div class="bottomBorderOverlay"></div>
                </div>
            </div>
        </a>
        <a routerLink='MyWatchList'>
            <div class="myBookDiv">
                <img class="image" src="../../../assets/a2f30235-6343-4136-9f5a-fb511b9f9038.webp" alt="">
                <div class="OverlayDiv">
                    <p>Your watchlist</p>
                    <div class="bottomBorderOverlay"></div>
                </div>
            </div>
        </a>
    </div>
</div>