@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.WatchContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 15px;
    background-color: #BCAAA4;
    padding: 8px;
    border-radius: 15px;
    border: 5px solid #BCAAA4;
}

.border {
    box-sizing: border-box;
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    padding: 10px;
    border: 5px solid #BCAAA4; 
}


.titleDiv {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.titleDiv h1 {
    margin: 8px;
    font-family: 'Lora', serif; 
    color: #3E2723; 
}

.watchListContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.watchListings {
    box-sizing: border-box;
    font-family: 'Lora', serif; 
    background-color: #c6bcf2;
    width: 450px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 5px;
    color: black;
    font-weight: bold;
    transition: 0.3s;
}

.watchListings p {
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.watchListings:hover {
    box-shadow: 2px 2px 4px 0px rgba(102,48,115,0.8);
    background-color: rgb(184, 171, 234);
    transition: 0.3s;
}

.faInfoCircle, .faSquareMinus {
    font-size: 33px;
    position: relative;
    right: 0px;
    top: 1px;
    transition: 0.4s;
}

.infoButton, .deleteButton {
    cursor: pointer;
    padding: 0;
    position: relative;
    border: none;
    background-color: #ffffff;
    border-radius: 50%;
    transition: 0.4s;
}

.infoButton:hover .faInfoCircle {
    color: rgb(79, 123, 255);
}

.deleteButton:hover .faSquareMinus {
    color: red;
}

.buttonHolder {
    display: flex;
    gap: 20px;
}
