@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.BookContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.CatalogHeading {
    display: flex;
    justify-content: center;
    font-family: 'Lora', serif;
}

.searchBoxContainer {
    display: flex;
    justify-content: center;
}

.searchBox {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.searchBox input {
    padding: 0;
    width: 250px;
    height: 35px;
    font-size: 20px;
    text-align: center;
    padding-right: 55px;
    border-radius: 50px;
    border: 3px solid #BCAAA4; 
    font-family: 'Lora', serif;
}

.searchBox input:focus {
    outline: none;
    box-shadow: 0px 0px 5px 0px rgba(143, 188, 143, 1); 
}

.iconHolder {
    position: absolute;
    right: 0px;
    bottom: 0px;
    border-radius: 50px;
    border: none;
    width: 50px;
    height: 40px;
    background-color: #8D6E63; 
    margin-left: 10px;
    transition: 0.3s;
}

.iconHolder:hover {
    cursor: pointer;
    background-color: #A1887F; 
}

.iconHolder:hover .searchIcon, .searchIcon {
    color: white;
    font-size: 16px; 
}
